<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>Somkiat Bank</display-name>

	<servlet>
		<servlet-name>transfer</servlet-name>
		<servlet-class>somkiat.bank.Transfer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>viewAccount</servlet-name>
		<servlet-class>somkiat.bank.ViewAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>incomeTrans</servlet-name>
		<servlet-class>somkiat.bank.IncomeTrans</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>transfer</servlet-name>
		<url-pattern>/transfer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>viewAccount</servlet-name>
		<url-pattern>/viewAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>incomeTrans</servlet-name>
		<url-pattern>/incomeTrans</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>viewAccount</welcome-file>
	</welcome-file-list>
</web-app>